# Python
__pycache__/
*.py[cod]
*$py.class
.python-version
.pytest_cache/
.env
venv/
.venv/
.env.*
*.env
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
instance/
.webassets-cache
.pytest_cache/



# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Visual Studio Code
.vscode/

# Node / frontend
/frontend/node_modules/
/frontend/dist/
/frontend/build/
/frontend/.vite/
/frontend/.cache/
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/package-lock.json
/frontend/.npm/

# Logs
*.log

# PyCharm
.idea/
*.iml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.swp
*.swo
*~
